body {
  background-color: rgb(55, 49, 49);
  padding: 0;
  /* or #2e2b2b00 */
  margin: 0;
}

.inputbar{
  display: flex;
  border:none;
  width: 90%;
  height: 2%;
  margin: 0 auto;
  margin-top: 10vh;
  border-bottom:1px solid rgb(156, 152, 152);
}
.inputbar:focus{
  outline: none;
}
.Submitbutton{
  position: absolute;
  color: rgb(43, 49, 53);
  margin: 0;
  text-align: center;
  top:15%;
  left:50%;
  width: 100px;
  height: 45px;
  background-color: rgb(113, 182, 113);
  border-radius: 5px;
  border: none;
}

.Submitbutton:hover{
  background-color: rgb(132, 183, 132);
}

.Submitbutton:focus{
  outline: none;
}

.response{
  position: absolute;
  background-color: rgb(196, 192, 192);
  left: 10%;
  text-align: center;
  top: 30%;
  width: 80%;
  height: 100px;

}
